# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next
out
build
dist

# Production
.vercel

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea

# Supabase / local temp
.supabase

# Misc
coverage
# Misc
coverage

# Archivos sensibles / cargas masivas
usuarios_pumay.csv
*.csv
.env.local
.env
.env*.local
.env.production
.env.development
